/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

:root {
    /* Type */
    --type-primary: #323130;
    --type-secondary: #605E5C;
    --type-disabled: #A19F9D;
    /* Dividers & Borders */
    --body-divider: #EDEBE9;
    --input-border: #8A8886;
    --input-hover-border: #323130;
    /* Theme */
    --theme-primary: #0078D4;
    --theme-lighter-alt: #EFF6FC;
    --theme-lighter: #DEECF9;
    --theme-light: #C7E0F4;
    --theme-tertiary: #2B88D8;
    --theme-dark-alt: #106EBE;
    --theme-dark: #005A9E;
    --theme-darker: #004578;
    --theme-30dtli-light: #C5B4E3;
    --theme-30dtli-dark: #7051A6;
    --theme-30dtli-twilight: #271E6D;
    /* Overlays */
    --overlay-light: #FFFFFF66;
    --overlay-dark: #00000066;
    /* Greys */
    --white: #ffffff;
    --grey10: #FAF9F8;
    --grey20: #F3F2F1;
    --grey30: #EDEBE9;
    --grey40: #E1DFDD;
    --grey50: #D2D0CE;
    --grey60: #C8C6C4;
    --grey90: #A19F9D;
    --grey110: #8A8886;
    --grey130: #605E5C;
    --grey150: #3B3A39;
    --grey160: #323130;
    --grey190: #201F1E;
    /* Status / Errors */
    --status-error: #A80000;
    --status-success: #107C10;
    /* Card Box Shadows */
    --depth-4: 0px 0.3px 0.9px rgba(0, 0, 0, 0.1), 0px 1.6px 3.6px rgba(0, 0, 0, 0.13);
    --depth-8: 0px 0.6px 1.8px rgba(0, 0, 0, 0.1), 0px 3.2px 7.2px rgba(0, 0, 0, 0.13);
    --depth-16: 0px 1.2px 3.6px rgba(0, 0, 0, 0.1), 0px 6.4px 14.4px rgba(0, 0, 0, 0.13);
    --depth-64: 0px 4.8px 14.4px rgba(0, 0, 0, 0.18), 0px 25.6px 57.6px rgba(0, 0, 0, 0.22);
    /* Font Stack */
    --segoe-ui: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* A11y contrast pass = primary over white or theme-dark-alt over grey20  */

/* HTML & Body */

html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.25rem;
    color: var(--type-primary);
}

.bg-grey {
    background-color: #f5f5f5;
}

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: var(--theme-darker);
}

.bg-purple {
    background-color: var(--theme-30dtli-dark);
}

/* Type */

p {
    font-size: 0.875rem;
    margin-bottom: 1rem;
    font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1rem 0;
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 2.625rem;
    line-height: 3.25rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

h5 {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

h6 {
    font-size: 1rem;
    line-height: 1.375rem;
}

h1.ignite-header {
    font-size: 2.50rem;
}

.break::after {
    content: '\a';
    white-space: pre;
}

.hero-title {
    font-size: 2.625rem;
    line-height: 3.25rem;
}

.greeting-title {
    font-size: 2rem;
    line-height: 2.5rem;
}

.page-title {
    font-size: 1.75rem;
    line-height: 2.25rem;
}

.pane-header {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.header {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.subject-title {
    font-size: 1rem;
    line-height: 1.375rem;
}

small, .text_small {
    font-size: 0.75rem;
    line-height: 1rem;
}

.text-caps {
    font-size: 0.75rem;
    letter-spacing: .4em;
    text-transform: uppercase;
}

.fw600{
    font-weight: 600;
}

.a-link {
    font-size: 0.875rem;
}

/* Links */
a {
    color: var(--theme-30dtli-dark);
    transition: all 200ms ease-in-out;
    text-decoration: underline;
    font-weight: 600;
}

    a:hover {
        color: var(--theme-30dtli-dark);
    }

    a:visited {
        color: var(--theme-30dtli-dark);
    }

    a.purp {
        color: var(--theme-30dtli-dark);
    }

    a.btn:visited {
        color: var(--grey10);
    }

    a.locale:visited {
        color: var(--theme-dark-alt);
    }

/* Hero */

.hero {
    color: white;
    background-color: var(--theme-30dtli-twilight);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-texture {
    background-image: url(/cloudskillschallenge/images/CSCPage_Banner_1520x300.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Cards */

.card {
    background: transparent;
    box-shadow: var(--depth-4);
    border-radius: 2px;
    border: 0;
    transition: all 200ms ease-in-out;
}

    .card:hover {
        background: transparent;
        box-shadow: var(--depth-16);
        border-radius: 2px;
        border: 0;
    }

.card-body {
    padding: 1.5rem;
}

/* Buttons */
/* 30dtli */

.btn:focus {
    box-shadow: 0 0 0 1px rgb(0 0 0);
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    font-size: 0.875rem;
    font-weight: 600;
}

    .btn:hover {
        text-decoration: underline;
    }

.btn-primary {
    color: var(--grey10);
    background-color: var(--theme-30dtli-dark);
    border-color: var(--theme-30dtli-dark);
    padding: 8px 20px;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -3px;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 1.3;
    white-space: nowrap;
    transition: all 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 transparent;
}

    /*.btn-primary:after {
        content: url(/cloudskillschallenge/offers/img/chevron-purple.svg);
        margin-left: .5rem;
    }*/

    .btn-primary:hover, .btn-primary:active {
        color: var(--grey10);
        background-color: #9D3DBA;
        border-color: #9D3DBA;
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        color: var(--grey10);
        background-color: #9D3DBA;
        border-color: #9D3DBA;
        box-shadow: 0 0 0 0px rgb(0 0 0);
    }

    .btn-primary:focus, .btn-primary:active:focus {
        color: var(--grey10);
        background-color: #9D3DBA;
        border-color: #9D3DBA;
        box-shadow: 0 0 0 0px rgb(0 0 0);
        outline: 1px solid var(--grey10);
    }

    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0rem rgb(38 143 255 / 50%);
    }

.btn-hero {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    padding: 10px 20px 8px;
    position: relative;
    border: 2px solid transparent;
    outline: 1px solid transparent;
    outline-offset: -3px;
    overflow: hidden;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 1.3;
    white-space: nowrap;
    transition: all 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 transparent;
    max-width: 210px;
    display: flex;
}

    .btn-hero:before {
        content: url(/cloudskillschallenge/offers/img/chevron-down.svg);
        margin-right: .5rem;
    }

    .btn-hero:hover {
        color: #fff;
        background-color: rgba(142,142,142,.05);
        border-color: rgba(142,142,142,.05);
    }

    .btn-hero:focus, .btn-hero:active:focus {
        color: #fff;
        background-color: rgba(142,142,142,.05);
        border-color: rgba(142,142,142,.05);
        box-shadow: 0 0 0 0px rgb(0 0 0);
        outline: 1px solid white;
    }

.btn-link {
    border-radius: 0;
    padding: 8px 0;
    color: var(--theme-dark-alt);
    text-decoration: none;
}

    .btn-link:after {
        content: url(/cloudskillschallenge/images/chevron-blue.svg);
        margin-left: .5rem;
        margin-right: .5rem;
    }

    .btn-link:hover {
        color: var(--theme-dark-alt);
    }

    .btn-link:focus {
        box-shadow: 0 0 0 2px rgb(0 0 0);
        background-color: var(--theme-lighter);
    }

.btn-secondary {
    color: var(--theme-30dtli-dark);
    background-color: transparent;
    border-color: var(--theme-30dtli-dark);
    padding: 8px 20px;
    position: relative;
    border: 2px solid var(--theme-30dtli-dark);
    outline: 1px solid transparent;
    outline-offset: -3px;
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 1.3;
    white-space: nowrap;
    transition: all 200ms ease-in-out;
    box-shadow: 0 4px 8px 0 transparent;
}

    .btn-secondary:hover, .btn-secondary:active {
        color: #9D3DBA;
        background-color: transparent;
        border-color: #9D3DBA;
    }

    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
        color: #9D3DBA;
        background-color: transparent;
        border-color: #9D3DBA;
        box-shadow: 0 0 0 0px rgb(0 0 0);
    }

    .btn-secondary:focus, .btn-secondary:active:focus {
        color: #9D3DBA;
        background-color: transparent;
        border-color: #9D3DBA;
        box-shadow: 0 0 0 0px rgb(0 0 0);
        outline: 1px solid #9D3DBA;
        outline-offset: -4px;
    }

    .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0rem rgb(38 143 255 / 50%);
    }

    .btn-secondary:visited {
        color: var(--theme-30dtli-dark) !important;
    }

img.landing-image {
    width: 200px;
}

details summary > * {
    display: inline;
}

summary {
    color: var(--theme-30dtli-dark);
}

.form-label, .form-check-label, .form-select {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.form-check-label {
    font-weight: normal;
}

li {
    font-size: 0.875rem;
    margin-bottom: 1rem;
}

.checkbox-error{
    margin-left: -25px;
}

/*@media screen and (max-width: 996px) {
    .hero {
        background-image: none;
    }
}*/

@media screen and (max-width: 996px) {
    h1.ignite-header {
        font-size: 2.275rem;
    }
}

@media screen and (max-width: 576px) {
    .hero-texture {
        background-image: none;
    }
}

/* Form */
label {
    font-size: 0.875rem;
    font-weight: 600;
}

.form-control {
    font-size: 0.875rem;
}

.required {
    color: #d13438;
}

input.req + span::after,
select.req + span::after {
    display: inline-block;
    content: "*";
    color: #d13438;
    font-size: 19px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
}

.form-control {
    color: var(--grey190);
    background-color: #fff;
    border: 1px solid var(--grey110);
    transition: all 200ms ease-in-out;
}

    .form-control:hover {
        color: var(--grey190);
        background-color: #fff;
        border: 1px solid var(--grey160);
        box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
    }

    .form-control:focus {
        color: var(--grey190);
        background-color: #fff;
        border: 1px solid var(--theme-primary);
        box-shadow: 0 0 0 1px var(--theme-primary);
    }

    .form-control:invalid {
        color: var(--grey190);
        background-color: #fff;
        border: 2px solid var(--status-error);
        box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
    }

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid var(--grey190);
    transition: all 200ms ease-out;
    margin-right: 5px;
    position: relative;
    background-color: white;
}

    input[type="radio"]:checked {
        border: 1px solid var(--theme-primary);
        background-color: var(--theme-primary);
        outline: 3.5px solid white;
        outline-offset: -4.5px;
    }

    input[type="radio"]:hover {
        border: 1px solid var(--grey190);
        background-color: var(--grey190);
        outline: 3.5px solid white;
        outline-offset: -4.5px;
    }

.form-check-input {
    margin-top: 0;
}

    .form-check-input:checked[type=checkbox] {
        background-image: none;
    }

form-check-input:focus {
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 0%);
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10%;
    width: 1.25rem;
    height: 1.25rem;
    border: 1px solid var(--grey190);
    transition: all 200ms ease-out;
    margin-right: 1rem;
    background-color: white;
    position: relative;
}

    input[type="checkbox"]:hover {
        border: 1px solid var(--grey190);
        background-color: var(--grey190);
        outline: 3.5px solid white;
        outline-offset: -4.5px;
    }

    input[type="checkbox"]:checked {
        border: 1px solid var(--theme-primary);
        background-color: var(--theme-primary);
        outline: 3.5px solid white;
        outline-offset: -4.5px;
    }

        input[type="checkbox"]:checked::after {
            content: "";
            background-image: url(/cloudskillschallenge/Images/checkmark-white.svg);
        }

.input-validation-error {
    color: var(--grey190);
    background-color: #fff;
    border: 2px solid var(--status-error);
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}

.require::after {
    content: '*';
    color: var(--status-error);
    margin-left: .25rem;
    font-size: 1.125rem;
}

.field-validation-error {
    padding-top: .5rem;
}

/* Validation */
.checkError {
    color: var(--status-error);
}

.challengeTitle {
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
}

td {
    font-size: .875rem;
}


/* UHF Updates */
#Products {
    font-weight: 500;
}

#Products::after, .c-button-logo.all-ms-nav::after {
    top: 10px;
}

ul.f-multi-column.f-multi-column-4 {
    margin-left: -600px;
}

footer#uhf-footer {
    margin-top: 0;
}

.context-uhf a:link, .context-uhf a:focus, .context-uhf a:hover, .context-uhf a:active, .context-uhf a:visited {
    font-weight: 400;
}

/* Locale */

.locale-page-height {
    min-height: calc(100vh - 444px);
}

.locale-page-container {
    padding: 0 5%;
}

.locale-page-content {
    max-width: 1600px;
    margin: 0 auto;
}